.show-features {
    border: 2px solid whitesmoke;
    border-radius: 10px;
    text-align: left;
    padding-left: 20px
}

.show-features img {
    width: 160px;
    height: 80px;
    margin-top: 20px;
}

.btn-feature,
.feature-para {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-view {
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 8px;
    margin-bottom: 20px;
}

.btn-view-text {
    color: #FFFFFF;
}