.j-title{
   font-weight: bold;
}

.showJobDetails{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px;
}

.showJobDetails-part-1{
text-align: left;
}

.showJobDetails-part-2{
    background-color: lightblue;
    text-align: left;
    padding: 20px;
}

.btn-apply{
    width: 100%;
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 8px;
    margin-top: 10px;
}

@media screen and (max-width:576px) {

    .showJobDetails{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
}