.features{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:24px;
}

.btn-show{
    color: #FFFFFF;
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 8px;
    margin-top: 20px;
}

@media screen and (max-width:576px){
    .features{
        grid-template-columns: repeat(1, 1fr);
        gap:24px;
    }
}